.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor */
    gap: 15px;
}

img {
    max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
    height: auto;
    width:400px;
    border-radius: 50%; 
   
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding:5%;
    background-color: rgb(226, 110, 158);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50%; /* Hacer el botón redondo */
    background-color: #ddf74f;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

button:hover {
    background-color: #b30000;
    color:white;
}

.buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

#sticker1, #sticker2, #sticker3 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

#image1, #image2, #image3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

